:root { 
--red_600:#e6273d; 
--indigo_A100:#9381ff; 
--red_400:#e4533f; 
--lime_600_14:#d5c821; 
--lime_600_15:#d4cc1d; 
--black_900_01:#101010; 
--lime_600_12:#d7c028; 
--lime_600_13:#d6c425; 
--deep_orange_700:#e73a1e; 
--yellow_800:#de973b; 
--yellow_800_08:#dd9c38; 
--lime_600_10:#d9b82d; 
--yellow_800_09:#dda137; 
--lime_600_11:#d8bc2b; 
--yellow_800_06:#df923a; 
--yellow_800_07:#de9739; 
--yellow_800_04:#dbab35; 
--yellow_800_05:#dbaf33; 
--yellow_800_02:#dda138; 
--yellow_800_03:#dca637; 
--yellow_800_01:#dd9c3a; 
--lime_600_16:#d3d017; 
--lime_600_17:#d2d310; 
--orange_A200:#df913c; 
--blue_gray_300:#98a1b2; 
--lime_600_03:#d7c029; 
--lime_600_04:#d6c426; 
--lime_600_01:#d9b82f; 
--lime_600_02:#d8bc2c; 
--lime_A700:#d2d700; 
--white_A700_bf:#ffffffbf; 
--indigo_A100_3f:#9381ff3f; 
--lime_600_09:#dab430; 
--lime_600_07:#d3d018; 
--yellow_800_11:#dbab34; 
--white_A700:#ffffff; 
--lime_600_08:#d2d311; 
--yellow_800_12:#dbaf32; 
--lime_600_05:#d5c822; 
--lime_600_06:#d4cc1e; 
--red_500_01:#e44c3d; 
--yellow_800_10:#dca635; 
--deep_orange_A200:#e26e40; 
--deep_orange_A200_01:#e2683e; 
--deep_orange_A200_03:#e1753d; 
--deep_orange_A200_02:#e26f3e; 
--deep_orange_400_01:#e17b3f; 
--deep_orange_400_02:#e0803e; 
--red_500:#e44b3f; 
--red_400_02:#e36140; 
--red_400_01:#e35a40; 
--red_400_04:#e4533d; 
--deep_orange_400_05:#e17b3d; 
--red_400_03:#e26840; 
--deep_orange_400_06:#e0813c; 
--gray_50:#fafafa; 
--deep_purple_300:#8f78ae; 
--deep_orange_400_03:#e0863e; 
--red_400_06:#e3623e; 
--deep_orange_400_04:#df8c3d; 
--red_400_05:#e35b3e; 
--deep_orange_400_07:#e0863c; 
--deep_orange_400_08:#df8c3b; 
--black_900:#010101; 
--deep_orange_400:#e1753f; 
--deep_orange_A400:#fc2f00; 
--deep_orange_A400_3f:#fc2f003f; 
--red_600_04:#e6293b; 
--red_600_03:#e5433e; 
--red_600_02:#e53a3e; 
--red_600_01:#e6323e; 
--deep_orange_A400_7f:#fc2f007f; 
--lime_600:#dab431; 
--red_600_07:#e5433d; 
--red_600_06:#e53b3c; 
--gray_900:#111111; 
--gray_900_01:#191d23; 
--red_600_05:#e6333c; 
--deep_orange_A400_00:#fc2f0000; 
--gray_900_7f:#1111117f; 
--lime_A700_01:#d1d706; 
}